<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Contact</title>
</head>
<body>

<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

<form method="post" action="{% url 'profile' %}">
    {% csrf_token %}
    <button type="submit">Profile</button>
</form>

<form method="post" action="{% url 'add-contact' %}">
    {% csrf_token %}
    <button type="submit">Add contact</button>
</form>
<hr>

    {% if contacts %}
    {% for i in contacts %}
        {% if i.contact_image %}
            <img height="200px" src="{{ i.contact_image.url }}" alt="">
        {% endif %}
        <h3>{{ i.name_contact }}</h3>
        <h3>{{ i.phone_number }}</h3>

    <form method="post" action="{% url 'detail-contact' i.id %}">
        {% csrf_token %}
        <button type="submit">Detail</button>
    </form>
    <form method="post" action="{% url 'delete-contact' i.id %}">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
        <hr>
    {% endfor %}
    {% else %}
    <h3>there is no contact</h3>

    {% endif %}



        <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

</body>
</html>